aside#sns-icon
  ul.inner
    li
      a.ophv(href="http://ameblo.jp/fissambl/", target="_blank")
        <img src="#{meta.info.url}assets/img/ab_icon.png" width="42" height="42" alt="アメーバブログ">
    li
      a.ophv(href="https://twitter.com/FISSOLUTIONS", target="_blank")
        <img src="#{meta.info.url}assets/img/twi_icon.png" width="42" height="42" alt="twitter">
    li
      a.ophv(href="https://www.facebook.com/fisstokyo", target="_blank")
        <img src="#{meta.info.url}assets/img/fb_icon.png" width="42" height="43" alt="facebook">