header#header
  h1#hlogo
    a(href="#{meta.info.url}")
      <img src="#{meta.info.url}assets/img/hlogo.gif" width="101" height="67" alt="株式会社FISソリューションズ">
  p#menu_btn
    <img src="#{meta.info.url}assets/img/menu_btn.gif" width="54" height="54" alt="メニューボタン">
  nav
    ul#menu
      li
        a(href="#{meta.info.url}") ホーム
      li
        a(href="#{meta.info.url}icon") アイコンサービス
      li
        a(href="#{meta.info.url}news") お知らせ
      li
        a(href="#{meta.info.url}concept") 企業コンセプト
      li
        a(href="#{meta.info.url}product") 商品・サービス一覧
      li
        a(href="#{meta.info.url}recruit") 採用情報
      li
        a(href="#{meta.info.url}company") 企業情報
      li
        a(href="#{meta.info.url}message") メッセージ
      li
        a(href="#{meta.info.url}group") グループ会社
<!-- /#header -->