doctype
html(lang='ja')
  head
    meta(charset='UTF-8')
    block title
    block meta01
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name="viewport", content="width=device-width,initial-scale=1.0")
    meta(name="format-detection", content="telephone=no,address=no,email=no")
    block meta02
    link(rel="stylesheet", href="#{meta.info.url}assets/css/reset.css")
    link(rel="stylesheet", href="#{meta.info.url}assets/css/style.css")
    block css
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js")
    //[if lt IE 9]><script src="/javascripts/html5shiv.js"></script><![endif]
  !='\n'
  body
    include ./header.jade
    !='\n'
    block body
    !='\n'

    footer#footer
      p.to_top
        a(href="#header")
          <img src="#{meta.info.url}assets/img/to_top.png" width="145" height="18" alt="page top">
      ul.switch
        li
          block mode_pc_link
        li
          a(href="./") モバイル
      p.copyright Copyright c　FIS SOLUTIONS, INC., All Rights Reserved.
    <!-- /#footer -->
    !='\n'

    script(src="#{meta.info.url}assets/js/rollover/rollover.js")
    script(src="#{meta.info.url}assets/js/rollover/opacity-rollover2.1.js")
    script(src="#{meta.info.url}assets/js/smoothScrollEx.js")
    block script_src
    !='\n'

    // ロールオーバー
    script(type="text/javascript").
      $(document).ready(function() {
        $('.ophv').opOver(1.0, 0.6, 200, 200);
      });
    !='\n'

    // メニューボタン
    script.
      $(document).ready(function(){
        $(window).resize(function() {
          var w = $(window).width();
        });
        $('#menu_btn').on('click',function(){
          $('#menu').slideToggle();
        });
      });
    !='\n'

    // ヘッダー
    script.
      $(document).ready(function(){
        $(window).on('load resize', function(){

          // 特定部分の幅と高さを取得
          var w = $(window).innerWidth();
          var header_h = w * 0.1527;
          var header_ptb = w * 0.0298;
          var header_prl = w *0.0277;
          var hlogo_w = w * 0.1402;
          var menu_btn_w = w * 0.075;
          var menu_btn_ptb = menu_btn_w * 0.1203;
          var menu_t = header_h - header_ptb - menu_btn_ptb;
          var menu_lia_ptb = w * 0.0138;
          //console.log(header_h);

          $('#header').css({
            'padding-top': header_ptb,
            'padding-right': header_prl,
            'padding-bottom': header_ptb,
            'padding-left': header_prl
          });
          $('#hlogo').css({
            'width': hlogo_w,
          });
          $('#menu_btn').css({
            'width': menu_btn_w,
            'padding-top': menu_btn_ptb,
            'padding-bottom': menu_btn_ptb,
          });
          $('#menu').css({
            'top': menu_t
          });
          $('#menu li a').css({
            'padding-top': menu_lia_ptb,
            'padding-bottom': menu_lia_ptb
          });
        });
      });
    !='\n'

    block script