extends ../templates/layout.jade
block title
  - var page_title = 'メッセージ'
  - var page_dirname = 'message'
  title #{page_title} | #{meta.info.title}
block meta01
  meta(name="description", content="#{page_title} - #{meta.info.description}")
  meta(name="keywords", content="#{page_title},#{meta.info.keywords}")
block meta02
  meta(property="og:title", content="#{page_title} | #{meta.info.title}")
  meta(property="og:description", content="#{page_title} - #{meta.info.description}")
  meta(property="og:type", content="website")
  meta(property="og:url", content="#{meta.info.url}#{page_dirname}")
  meta(property="og:image", content=meta.info.image)
  meta(property="og:site_name", content=meta.info.site_name)

block body
  main#message.low
    section#section.section
      h2.h2ttl
        span
          <img src="../assets/img/message/h2ttl.gif" width="147" height="84" alt="#{page_title}">
      .inner
        figure.img
          <img src="../assets/img/message/img01.jpg" width="680" height="275" alt="常務取締役　山口勝宏">
        section.section-in
          h3.h3ttl 
            <img src="../assets/img/message/h3ttl.gif" width="635" height="25" alt="「新しいあたりまえ」を創出し続ける社会価値創出企業">
          .txt-area
            p ＦＩＳソリューションズは「次世代経営コンサルタント」としてお客様と共に未来を切り拓くエンジンとなり、企業の成長を加速させます。
            p ＦＩＳソリューションズは、人の話を聞き、人から学び、人に対して責任と情熱を持って仕事をするプロフェッショナルです。
            p 私達がメインとしてきた情報通信分野は、成長を続ける非常に魅力ある分野です。
            p 流行トレンドのサイクルの早期化、技術革新の急速な進歩により、既存技術の短命化が進んでいる昨今、一年後が予測できないほどに目まぐるしく変化しています。
            p 昨日なかった技術やサービスが３ヶ月後には「あたりまえ」として定着しています。
            p フォーバルグループは、電話機自由化、県外・市外料金値下げ、国際料金値下げ、回線基本料自由化への挑戦など数多くの実績を積み上げてまいりました。
            p 昨日まで名前もなかったサービスの一つから、「あたりまえ」なインフラの一つへ。
            p フォーバルグループの一員として、常に「新しいあたりまえ」を、これからは情報通信の枠を超えて、創造し続けていきます。
          <!-- /.txt-area -->
        <!-- /.section-in -->
      <!-- /.inner -->
    <!-- /#section -->
  <!-- /#!{page_dirname} -->
  !='\n'

  include ../templates/aside.jade

block mode_pc_link
  a(href="../../company#section03/?mode=pc") PC

block script