@charset "utf-8";

/*====================================================================

01.format
02.contens
03.top
04.low common
05.icon
06.news
07.concept
08.group
09.message
10.company
11.recruit
12.product

=====================================================================*/

/* 01.format
-------------------------------------------------- */
 @mixin wrap {
  width: 94.44%;
  margin: 0 auto;
}

$fc01: #1b1b1b;
$bdc01: #bfbfbf;
$bgc01: #ececec;
$support-ie6: false;
$support-ie7: true;
$support-ie8: true;
$support-ie9: true;
$support-mozilla: true;
$support-webkit: true;
$support-opera: true;
@mixin clearfix {
  @if $support-ie6 or $support-ie7 {
    *zoom: 1;
  }
  &:after {
    content: ".";
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
  }
}

$breakpoint-mobile: 360px;
@mixin max-screen($break-point) {
  @media screen and (max-width: $break-point) {
    @content;
  }
}

body {
  font-family: 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', Meiryo, メイリオ, 'MS PGothic', arial, helvetica, sans-serif;
  font-size: 13px;
  //line-height: 1.5;
  line-height: 23px;
  color: $fc01;
  a {
    color: $fc01;
  }
  @include max-screen($breakpoint-mobile) {
    font-size: 12px;
  }
}

img {
  width: 100%;
  height: auto;
}

/*  02.common
-------------------------------------------------- */
.inner {
  @include clearfix;
  @include wrap;
}

#header {
  @include clearfix;
  h1 {
    float: left;
  }
  #menu_btn {
    float: right;
  }
  #menu {
    display: none;
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 100;
    li {
      background-color: #28066a;
      border-top: 1px solid #fff;
      a {
        display: block;
        padding-left: 10px;
        color: #fff;
        text-decoration: none;
      }
    }
  }
}

#sns-icon {
  ul {
    @include clearfix;
    margin-bottom: 6.94%;
    li {
      float: right;
      width: 6.17%;
      margin-left: 5.14%;
    }
  }
}

#footer {
  .to_top {
    padding: 2.77% 0;
    margin-bottom: 5.55%;
    background-color: $bgc01;
    a {
      display: block;
      width: 20.13%;
      margin: 0 auto;
      img {
        vertical-align: middle;
      }
    }
  }
  .switch {
    @include clearfix;
    margin-bottom: 5.55%;
    li {
      width: 50%;
      float: left;
      a {
        display: block;
        line-height: 1;
        text-align: center;
        font-weight: bold;
      }
      &:first-child {
        a {
          border-right: 2px solid #000;
        }
      }
    }
  }
  .copyright {
    padding: 21.75px 0;
    text-align: center;
    color: #fff;
    border-top: 1px solid #000;
    background-color: #28066a;
    @include max-screen($breakpoint-mobile) {
      padding: 22px 0;
    }
  }
}

/*  03.top
-------------------------------------------------- */
#tmimg {
  margin-bottom: 35px;
}

#top {
  .inner {
    .tbnr {
      margin-bottom: 5.88%;
      li {
        margin-bottom: 3.67%;
        &:first-child {
          padding: 30.88% 0 4.41%;
          margin-bottom: 3.67%;
          background: url("../img/top/icon_bg.jpg") 0 0 no-repeat;
          background-size: 100% auto;
          .detail_btn {
            width: 63.08%;
            margin: 0 auto;
          }
        }
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
    #tnews {
      margin-bottom: 7.35%;
      h2 {
        width: 13.23%;
        margin: 0 auto 4.41%;
      }
      .article {
        padding: 3.19% 0;
        border-bottom: 1px solid #dcdcdc;
        &:first-of-type {
          border-top: 1px solid #dcdcdc;
        }
        @include max-screen($breakpoint-mobile) {
          padding: 3.23% 0;
        }
        .date {
          margin-bottom: 13.5px;
          font-weight: bold;
        }
        h3 {
          font-weight: normal;
          a:hover {
            text-decoration: underline;;
          }
        }
      }
    }
  }
}

/* 04.low common
--------------------------------------------------------------------------------- */
.low {
  @include clearfix;
  padding-bottom: 6.94%;
  margin-bottom: 6.94%;
  border-bottom: 2px solid $bdc01;
  .section {
    @include clearfix;
    .h2ttl {
      margin-bottom: 6.11%;
      border-bottom: 2px solid $bdc01;
      span {
        display: block;
        margin: 0 auto;
      }
    }
  }
}

/* 05.icon
--------------------------------------------------------------------------------- */
#icon {
  #section01 {
    .h2ttl {
      span {
        width: 34.55%;
      }
    }
    .inner {
      .img {
        width: 85.29%;
        margin: 0 auto 4.26%;
      }
      .txt-area {
        margin-bottom: 6.47%;
        p {
          &:first-of-type,
          &:nth-of-type(3) {
            margin-bottom: 4.11%;
          }
        }
      }
      .accordion {
        .unit {
          margin-bottom: 4.41%;
          &:last-child {
            margin-bottom: 0;
          }
          .h3ttl {
            padding: 8.08% 0 6.65% 16.17%;
            span {
              display: block;
              line-height: 1;
              background: url("../img/icon/mark_off.gif") 95% center no-repeat;
              background-size: 2.26% auto;
            }
            .open {
              background: url("../img/icon/mark_on.gif") 95% center no-repeat;
              background-size: 4% auto;
            }
          }
          #h3ttl01 {
            background: url("../img/icon/h3ttl01_bg.jpg") 0 0 no-repeat;
            background-size: 100% auto;
            span img {
              width: 72.79%;
            }
          }
          #h3ttl02 {
            background: url("../img/icon/h3ttl02_bg.jpg") 0 0 no-repeat;
            background-size: 100% auto;
            span img {
              width: 77.35%;
            }
          }
          #h3ttl03 {
            background: url("../img/icon/h3ttl03_bg.jpg") 0 0 no-repeat;
            background-size: 100% auto;
            span img {
              width: 76.76%;
            }
          }
          #h3ttl04 {
            background: url("../img/icon/h3ttl04_bg.jpg") 0 0 no-repeat;
            background-size: 100% auto;
            span img {
              width: 31.32%;
            }
          }
          #h3ttl05 {
            background: url("../img/icon/h3ttl05_bg.jpg") 0 0 no-repeat;
            background-size: 100% auto;
            span img {
              width: 49.41%;
            }
          }
          #h3ttl06 {
            background: url("../img/icon/h3ttl06_bg.jpg") 0 0 no-repeat;
            background-size: 100% auto;
            span img {
              width: 54.55%;
            }
          }
          .unit-in {
            display: none;
            padding-top: 4.41%;
            .img02 {
              margin-bottom: 3.52%;
            }
          }
        }
      }
    }
  }
}

/* 06.news
--------------------------------------------------------------------------------- */
#news {
  #section01 {
    .h2ttl {
      span {
        width: 32.77%;
      }
    }
    .inner {
      .article {
        padding-bottom: 3.52%;
        margin-bottom: 3.52%;
        border-bottom: 1px solid $bdc01;
        &:last-of-type {
          margin-bottom: 10.29%;
        }
        .date {
          margin-bottom: 2.05%;
          font-weight: bold;
        }
      }
      .pager {
        @include clearfix
        li {
          float: left;
          width: 50%;
          a {
            display: block;
            width: 37.64%;
          }
          .prev {
            float: left;
          }
          .next {
            float: right;
          }
        }
      }
    }
  }
}

/* 07.concept
--------------------------------------------------------------------------------- */
#concept {
  #section {
    .h2ttl {
      span {
        width: 28.47%;
      }
    }
    .section-in {
      padding: 5.55% 0 4.72%;
      &:first-of-type {
        padding-top: 0;
      }
      .inner {
        .h3ttl {
          margin: 0 auto 4.26%;
        }
        .img {
          margin: 0 auto 1%;
        }
      }
    }
    #section-in01 {
      .inner {
        .h3ttl {
          width: 74.41%;
        }
      }
    }
    #section-in02 {
      background-color: $bgc01;
      .inner {
        .img {
          width: 88.23%;
        }
        .h3ttl {
          width: 98.23%;
        }
      }
    }
    #section-in03 {
      .inner {
        .img {
          width: 55.29%;
        }
        .h3ttl {
          width: 94.26%;
        }
      }
    }
    #section-in04 {
      background-color: $bgc01;
      .inner {
        .img {
          width: 96.91%;
        }
        .h3ttl {
          width: 99.26%;
        }
      }
    }
  }
}

/* 08.group
--------------------------------------------------------------------------------- */
#group {
  #section {
    .h2ttl {
      span {
        width: 24.58%;
      }
    }
    .inner {
      .accordion {
        .unit {
          margin-bottom: 3.67%;
          &:last-child {
            margin-bottom: 0;
          }
          .h3ttl {
            height: auto;
            padding: 5.88% 0 5.88% 22.05%;
            border: 1px solid $bdc01;
            span {
              display:block;
              background: url("../img/group/mark_off.gif") 95% 0 no-repeat;
              background-size: 2.46% auto;
              line-height: 1;
            }
            .open {
              background: url("../img/group/mark_on.gif") 95% 0 no-repeat;
              background-size: 4.35% auto;
            }
          }
          #h3ttl01 {
            background: url("../img/group/img01.jpg") 1.47% center no-repeat;
            background-size: 17.79% auto;
            span img {
              width: 33.08%;
            }
          }
          #h3ttl02 {
            background: url("../img/group/img02.jpg") 1.47% center no-repeat;
            background-size: 17.79% auto;
            span img {
              width: 47.64%;
            }
          }
          #h3ttl03 {
            background: url("../img/group/img03.jpg") 1.47% center no-repeat;
            background-size: 17.79% auto;
            span img {
              width: 43.97%;
            }
          }
          #h3ttl04 {
            background: url("../img/group/img04.jpg") 1.47% center no-repeat;
            background-size: 17.79% auto;
            span img {
              width: 43.97%;
            }
          }
          #h3ttl05 {
            background: url("../img/group/img05.jpg") 1.47% center no-repeat;
            background-size: 17.79% auto;
            span img {
              width: 69.85%;
            }
          }
          #h3ttl06 {
            background: url("../img/group/img06.jpg") 1.47% center no-repeat;
            background-size: 17.79% auto;
            span img {
              width: 40.14%;
            }
          }
          .unit-in {
            display:none;
            table {
              width: 100%;
              tr {
                border-bottom: 1px dotted #000;
                th {
                  width: 20%;
                }
                td {
                  padding: 2.79%;
                  a:hover {
                    text-decoration: underline;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

/* 09.message
--------------------------------------------------------------------------------- */
#message {
  #section {
    .h2ttl {
      span {
        width: 21.61%;
      }
    }
    .inner {
      .img {
        margin-bottom: 6.25%;
      }
      .section-in {
        .h3ttl {
          width: 93.38%;
          margin: 0 auto 5.36%;
        }
      }
    }
  }
}

/* 10.company
--------------------------------------------------------------------------------- */
#company {
  #section {
    .h2ttl {
      span {
        width: 16.66%;
      }
    }
    .inner {
      .section-in {
        margin-bottom: 8.82%;
        &:last-of-type {
          margin-bottom: 0;
        }
        .h3ttl {
          margin-bottom: 5.73%;
        }
        table {
          width: 100%;
          tr {
            border-bottom: 1px dotted #000;
            th {
              width: 20%;
              text-align: left;
              font-weight: normal;
            }
            td {
              padding: 2.79% 0;
            }
            &:first-of-type {
              td {
                padding-top: 0;
              }
            }
          }
        }
      }
      #section-in01 {
        .h3ttl {
          width: 18.08%;
        }
      }
      #section-in02 {
        .h3ttl {
          width: 17.94%;
        }
      }
      #section-in03 {
        .h3ttl {
          width: 31.17%;
        }
        .gmap {
          position: relative;
          padding-bottom: 65%;
          height: 0;
          overflow: hidden;
          margin-bottom: 3.52%;
          iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100% !important;
            height: 100% !important;
          }
        }
      }
    }
  }
}

/* 11.recruit
--------------------------------------------------------------------------------- */
#recruit {
  #section {
    .h2ttl {
      span {
        width: 19.44%;
      }
    }
    .inner {
      .section-in {
        margin-bottom: 8.82%;
        .h3ttl {
          margin-bottom: 5.73%;
        }
      }
      #section-in01 {
        .h3ttl {
          width: 22.94%;
        }
        .txt-area {
          margin-bottom: 2.79%;
        }
      }
      #section-in02 {
        .h3ttl {
          width: 19.7%;
        }
        table {
          width: 100%;
          tr {
            border-bottom: 1px dotted #000;
            th {
              width: 20%;
              text-align: left;
              font-weight: normal;
            }
            td {
              padding: 2.79% 0;
            }
            &:first-of-type {
              td {
                padding-top: 0;
              }
            }
          }
        }
      }
      .bnr-area {
        p:first-of-type {
          margin-bottom: 3.67%;
        }
      }
    }
  }
}

/* 12.product
--------------------------------------------------------------------------------- */
#product {
  #section {
    .h2ttl {
      span {
        width: 37.36%;
      }
    }
    .inner {
      .accordion {
        .unit {
          margin-bottom: 3.67%;
          &:last-child {
            margin-bottom: 0;
          }
          .h3ttl {
            height: auto;
            padding: 5.88% 0 5.88% 4.41%;
            border: 1px solid $bdc01;
            background-color: $bgc01;
            span {
              display:block;
              background: url("../img/product/mark_off.gif") 95% center no-repeat;
              background-size: 2% auto;
              line-height: 1;
            }
            .open {
              background: url("../img/product/mark_on.gif") 95% center no-repeat;
              background-size: 3.54% auto;
            }
          }
          #h3ttl01 span img {
            width: 24.7%;
          }
          #h3ttl02 span img {
            width: 36.91%;
          }
          #h3ttl03 span img {
            width: 36.23%;
          }
          #h3ttl04 span img {
            width: 67.35%;
          }
          #h3ttl05 span img {
            width: 64.26%;
          }
          .unit-in {
            display:none;
            padding-top: 4.26%;
            .box {
              @include clearfix;
              margin-bottom: 4.11%;
              .img01 {
                float: left;
                width: 60.44%;
                margin-right: 2.94%;
              }
              .img02 {
                float: left;
                width: 58.82%;
                margin-right: 2.94%;
              }
            }
            .list {
              margin-bottom: 4.11%;
            }
            .url a:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
}