extends ../templates/layout.jade
block title
  - var page_title = '企業コンセプト'
  - var page_dirname = 'concept'
  title #{page_title} | #{meta.info.title}
block meta01
  meta(name="description", content="#{page_title} - #{meta.info.description}")
  meta(name="keywords", content="#{page_title},#{meta.info.keywords}")
block meta02
  meta(property="og:title", content="#{page_title} | #{meta.info.title}")
  meta(property="og:description", content="#{page_title} - #{meta.info.description}")
  meta(property="og:type", content="website")
  meta(property="og:url", content="#{meta.info.url}#{page_dirname}")
  meta(property="og:image", content=meta.info.image)
  meta(property="og:site_name", content=meta.info.site_name)

block body
  main#concept.low
    section#section.section
      h2.h2ttl
        span
          <img src="../assets/img/concept/h2ttl.gif" width="205" height="84" alt="#{page_title}">
      section#section-in01.section-in
        .inner
          h3.h3ttl
            <img src="../assets/img/concept/h3ttl01.gif" width="506" height="29" alt="お客様とともに、企業としての在り方を">
          .txt-area
            p 私たちＦＩＳソリューションズは、「新しいあたりまえ」を創出し続ける社会勝ち創出企業フォーバルのグループ会社です。
            p 中小・中堅企業の利益に貢献する「次世代経営コンサルタント」として、お客さまと共に未来を切り拓くエンジンとなり、成長を加速させます。
            p メイン事業である通信コンサルティングの領域はもちろんのこと、企業経営そのものについて、あるべき企業の姿「在り方」を、お客様とともに追求し、ともに成長していきたいと考えております。
          <!-- /.txt-area -->
        <!-- /.inner -->
      <!-- /#section-in01 -->

      section#section-in02.section-in
        .inner
          figure.img
            <img src="../assets/img/concept/img01.png" width="600" height="333" alt="internet of things">
          h3.h3ttl
            <img src="../assets/img/concept/h3ttl02.gif" width="668" height="61" alt="ありとあらゆるものがインターネットに接続する社会。">
          .txt-area
            p 既に医療・ヘルスケア・農業の分野ではＩＯＴ化が進んでいます。
            p ＩＯＴにはセンサーで取得したデータをクラウドにアップロードし、人工知能が学習した内容に従って判断し、モノがヒトにフィードバックするという流れがあります。例えば「スマートロック」ではスマートフォンのアプリを起動して、ボタンを押すと自宅のカギが開きます。鍵の複製にはダウンロードして自宅のカギを開ける権限をアプリの持ち主に渡す。小さなお子様が自宅に入れない場合等、遠隔操作で家のカギを開けることが可能です。
            p またスマートロックは不動産業の物件を「内見」するために用いられたり、介護ビジネスでも夜間など、外を徘徊できないようにロックしたり、外出状況を把握する等、導入が進んでいます。
            p ＦＩＳでは、これからは何が社会に必要とされるのかをキャッチアップし、価値あるサービスをご提供します。
          <!-- /.txt-area -->
        <!-- /.inner -->
      <!-- /#section-in02 -->

      section#section-in03.section-in
        .inner
          figure.img
            <img src="../assets/img/concept/img02.png" width="376" height="378" alt="「顧客主義」から「個客主義」への転換イメージ画像">
          h3.h3ttl
            <img src="../assets/img/concept/h3ttl03.gif" width="641" height="56" alt="「顧客主義」から「個客主義」への転換">
          .txt-area
            p ビジネスをリードするには、膨大な量の情報を入手し、それが有益かどうか解析することがとても重要です。
            p その一つひとつの情報の多くは、元をたどると人の感情から発信されています。情報は無機的にただそこにあるのではなく、有機的に人の気持ちから生まれてくるものだとしたら、有益な情報を手に入れる近道はお客様一人ひとりを理解することにあるのかもしれません。
            p 今日、多くの企業が、「顧客主義」から「個客主義」へと基本戦略を転換しています。
            p 従来のマーケティングは、お客様を塊（セグメント）として捉えていました。しかし、デジタルテクノロジーの進化により、これまで不可能といわれていた「マーケット・オブ・ワン（市場の中のたったひとり）」や「セグメント・オブ・ワン（塊の中のたった一人）」という「個」への対応というマーケティングが可能になったのです。
            p 無尽蔵に肥大を続けるデータの中から、「たった一人にたどり着き」「たった一人を個客に変える」ことで、顧客主義から個客主義への転換を支援する。それこそ、これからのコンサルティングが担うべき役割だと考えております。
          <!-- /.txt-area -->
        <!-- /.inner -->
      <!-- /#section-in03 -->

      section#section-in04.section-in
        .inner
          figure.img
            <img src="../assets/img/concept/img03.png" width="659" height="179" alt="新たなイノベーションと熱いモチベーション イメージ画像">
          h3.h3ttl
            <img src="../assets/img/concept/h3ttl04.gif" width="675" height="56" alt="新たなイノベーションと熱いモチベーション">
          .txt-area
            p ビジネスの主流は、これまでのBtoC、BtoBといった区分けを超え、「BtoI=Business to Individual」という発想にシフトしようとしています。
            p こうした流れに乗り遅れないためには、独自の仮説で戦略を構築し、新しい情報通信技術でお客様の利益を生み出すことが必要です。そして、本当に重要なことは、「膨大なデータを分析すること」ではなく、お客様と真摯に向き合い「個客」の声を多くの声と結びつける、「オンリーワンのソリューションを提供すること」だと考えています。
            p 無限の情報から、唯一の答えを。
            p 新たなイノベーションと熱いモチベーションでお客様の課題に応えていくことが、次世代経営コンサルティングのフォーバルならではのミッションです。
          <!-- /.txt-area -->
        <!-- /.inner -->
      <!-- /#section-in04 -->
    <!-- /#section -->
  <!-- /#!{page_title} -->
  !='\n'

  include ../templates/aside.jade

block mode_pc_link
  a(href="../../#{page_dirname}/?mode=pc") PC

block script
  // アコーディオン 
  script.
    $(function(){
      $(".accordion .unit h3").click(function(){
        $(this).next(".unit-in").slideToggle();
        $(this).children("span").toggleClass("open");
      });
    });