extends ../templates/layout.jade
block title
  - var page_title = 'アイコンサービス'
  - var page_dirname = 'icon'
  title #{page_title} | #{meta.info.title}
block meta01
  meta(name="description", content="#{page_title} - #{meta.info.description}")
  meta(name="keywords", content="#{page_title},#{meta.info.keywords}")
block meta02
  meta(property="og:title", content="#{page_title} | #{meta.info.title}")
  meta(property="og:description", content="#{page_title} - #{meta.info.description}")
  meta(property="og:type", content="website")
  meta(property="og:url", content="#{meta.info.url}#{page_dirname}")
  meta(property="og:image", content=meta.info.image)
  meta(property="og:site_name", content=meta.info.site_name)

block body
  main#icon.low
    section#section01.section
      h2.h2ttl
        span
          <img src="../assets/img/icon/h2ttl.gif" width="235" height="85" alt="#{page_title}">
      .inner
        figure.img
          <img src="../assets/img/icon/img01.gif" width="580" height="194" alt="アイコンは、IT環境と企業経営をバックアップする「経営支援サービス」です">
        .txt-area
          p ＦＩＳソリューションズが、今、最も力を注いでいる「新しいあたりまえ」が「アイコン」です。「アイコン」とは定期訪問を通じて、経営にまつわる様々なお悩みを解決しようというもの。ＦＩＳソリューションズだけでなくグループ会社やパートナー企業の協力も得ながら、解決方法をアドバイスいたします。売り上げ拡大や新規事業、人材の確保、社内規定作成、業務運用の改善など経営に関するお悩みに応えます。
          p 経営において「情報」「時間」の重要性がますます高くなる現在ですが、社内に情報通信システム（ＩＴ）の専門部署／担当者を置いている企業は少ないのが実態ではないでしょうか？　ＦＩＳソリューションズのアイコンでは、資格と実力を兼ね備えた情報通信コンサルタントが、お客様の情報システム部門のかわりに、ＩＴ利活用を提案し、またあらゆる「困った」を解決します。
          p そこのこにより、お客様に本業に専念していただくことにより、お客様の利益に貢献することを目指したサービスです。
          p ＩＴにかかわる「困った」に限らず、売り上げ拡大や新規事業、人材の確保、社内規定作成、業務運用の改善などの経営に関するお悩みに対しても、グループ会社やパートナー企業の協力も得ながら、解決方法をアドバイスいたします。従来の保守メンテナンスサービスにとどまらない企業経営支援サービス、それが「アイコン」です。
        <!-- /.txt-area -->

        ul.accordion
          li.unit
            section
              h3#h3ttl01.h3ttl
                span
                  <img src="../assets/img/icon/h3ttl01.gif" width="495" height="30" alt="">
              .unit-in
                figure.img02
                  <img src="../assets/img/icon/img02.jpg" width="680" height="169" alt="写真：情報通信コンサルティングサービス">
                .txt-area02
                  p ヒト・モノ・カネ・情報・時間などの経営資源。ヒト・モノ・カネでは大企業が圧倒的に有利といえます。中小・中堅企業の命運を左右しているのが「情報」。経営にいかに「情報」を役立てるかが重要になってきています。日々進化する情報端末やIP統合商品。実際に私たちが利活用し、効果がでた手法をお客様にフィードバック。
                  p 情報通信を活用した「経営の高度化」をご提案いたします。
                <!-- /.txt-area02 -->
              <!-- /.unit-in -->
          li.unit
            section
              h3#h3ttl02.h3ttl
                span
                  <img src="../assets/img/icon/h3ttl02.gif" width="526" height="30" alt="訪問サポートコンサルティングサービス">
              .unit-in
                figure.img02
                  <img src="../assets/img/icon/img03.jpg" width="680" height="169" alt="写真：訪問サポートコンサルティングサービス">
                .txt-area02
                  p IT関連資格をもった経験豊富なコンサルタントが、定期的にお客様を訪問し、IT環境のチェックおよび改善を提案いたします。
                  p お客様の「困った」を解消するとともに、お客様の「もっと便利に」にお答えします。
                <!-- /.txt-area02 -->
              <!-- /.unit-in -->
          li.unit
            section
              h3#h3ttl03.h3ttl
                span
                  <img src="../assets/img/icon/h3ttl03.gif" width="522" height="29" alt="カスタマーコミュニケーションセンター">
              .unit-in
                figure.img02
                  <img src="../assets/img/icon/img04.jpg" width="680" height="169" alt="写真：カスタマーコミュニケーションセンター">
                .txt-area02
                  p 鹿児島と佐賀の二つのセンターで、お客様の「困った」その時にお役にたてるよう、７０名以上の正社員スタッフが、お客様からのお電話をお待ちしております。
                  p 例えば「エクセルが思ったとおりに印刷されない！」そんな、お問い合わせもＯＫです。どんな小さなお困りでも、お気軽にご相談ください。
                <!-- /.txt-area02 -->
              <!-- /.unit-in -->
          li.unit
            section
              h3#h3ttl04.h3ttl
                span
                  <img src="../assets/img/icon/h3ttl04.gif" width="213" height="28" alt="アイコンカルテ">
              .unit-in
                figure.img02
                  <img src="../assets/img/icon/img05.jpg" width="680" height="169" alt="写真：アイコンカルテ">
                .txt-area02
                  p オフィスカルテは、LAN内をスキャンすることにより、機器の利用状況など必要な情報を収集して更新します。
                  p 収集した最新のデータに基づき、オフィスのカルテを作成し、訪問コンサルティングサービス、カスタマーコミュニケーションセンターでの活用を通じてお客様のIT環境を改善いたします。
                <!-- /.txt-area02 -->
              <!-- /.unit-in -->
          li.unit
            section
              h3#h3ttl05.h3ttl
                span
                  <img src="../assets/img/icon/h3ttl05.gif" width="336" height="30" alt="専用サイト沿革サポート">
              .unit-in
                figure.img02
                  <img src="../assets/img/icon/img06.jpg" width="680" height="169" alt="写真：専用サイト沿革サポート">
                .txt-area02
                  p お客様とＦＩＳソリューションズをつなぐコミニュケーションポータルサイトです。
                  p コミニュケーションセンターのスタッフが、お客様の問題を解決する際に遠隔サポートでする際にも利用します。
                <!-- /.txt-area02 -->
              <!-- /.unit-in -->
          li.unit
            section
              h3#h3ttl06.h3ttl
                span
                  <img src="../assets/img/icon/h3ttl06.gif" width="371" height="30" alt="経営支援コンサルティング">
              .unit-in
                figure.img02
                  <img src="../assets/img/icon/img07.jpg" width="680" height="169" alt="写真：経営支援コンサルティング">
                .txt-area02
                  p 経営に関する「困った」をヒアリングさせていただき、当社だけでなく、グループ会社やパートナー企業の協力も得ながら、解決方法をアドバイスいたします。
                  p お客様のビジネスを知り尽くしたコンサルタントが仲介し、お客様を本気で応援します！
                <!-- /.txt-area02 -->
              <!-- /.unit-in -->
      <!-- /.inner -->
    <!-- /#section01 -->
  <!-- /#icon -->
  !='\n'

  include ../templates/aside.jade

block mode_pc_link
  a(href="../../#{page_dirname}/?mode=pc") PC

block script
  // アコーディオン 
  script.
    $(function(){
      $(".accordion .unit h3").click(function(){
        $(this).next(".unit-in").slideToggle();
        $(this).children("span").toggleClass("open");
      });
    });