extends ../templates/layout.jade
block title
  - var page_title = 'グループ会社'
  - var page_dirname = 'group'
  title #{page_title} | #{meta.info.title}
block meta01
  meta(name="description", content="#{page_title} - #{meta.info.description}")
  meta(name="keywords", content="#{page_title},#{meta.info.keywords}")
block meta02
  meta(property="og:title", content="#{page_title} | #{meta.info.title}")
  meta(property="og:description", content="#{page_title} - #{meta.info.description}")
  meta(property="og:type", content="website")
  meta(property="og:url", content="#{meta.info.url}#{page_dirname}")
  meta(property="og:image", content=meta.info.image)
  meta(property="og:site_name", content=meta.info.site_name)

block body
  main#group.low
    section#section.section
      h2.h2ttl
        span
          <img src="../assets/img/group/h2ttl.gif" width="177" height="85" alt="#{page_title}">
      .inner
        ul.accordion
          li.unit
            section
              h3#h3ttl01.h3ttl
                span
                  <img src="../assets/img/group/h3ttl01.gif" width="225" height="25" alt="株式会社フォーバル">
              .unit-in
                table
                  tr
                    th 事業内容
                    td 情報通信コンサルティング、経営コンサルティング
                  tr
                    th 所在地
                    td
                      |本社：〒150-0001
                      br
                      |東京都渋谷区神宮前5-52-2青山オーバルビル14階
                  tr
                    th 公式サイト
                    td 
                      a(href="http://www.forval.co.jp/") http://www.forval.co.jp/
                  tr
                    th コンセプト
                    td フォーバルは「新しいあたりまえ」を創造し、「次世代経営コンサルタント」として企業経営を支援いたします。情報通信を活用した経営の高度化、海外進出支援、企業のＷＥＢ戦略など、経営者の夢や思いをカタチにします。東証一部上場。
              <!-- /.unit-in -->

          li.unit
            section
              h3#h3ttl02.h3ttl
                span
                  <img src="../assets/img/group/h3ttl02.gif" width="324" height="25" alt="株式会社フォーバルテレコム">
              .unit-in
                table
                  tr
                    th 事業内容
                    td 通信サービスの提供、セキュリティ認証取得コンサルティング業
                  tr
                    th 所在地
                    td
                      |本社：〒101-0054
                      br
                      |東京都千代田区神田錦町三丁目26番地一ツ橋SIビル2F
                  tr
                    th 公式サイト
                    td
                      a(href="http://www.forvaltel.co.jp/") http://www.forvaltel.co.jp/
                  tr
                    th コンセプト
                    td 「fitコール」「スマートひかり」「iSmart」「ツーウェイスマート」などのオリジナル通信サービスを提供。多岐にわたる通信サービスを一括してご請求する「ワンビリングサービス」を通じて、コスト削減や事業効率向上の面から企業経営を支援いたします。東証二部上場。
              <!-- /.unit-in -->

          li.unit
            section
              h3#h3ttl03.h3ttl
                span
                  <img src="../assets/img/group/h3ttl03.gif" width="299" height="25" alt="株式会社保険ステーション">
              .unit-in
                table
                  tr
                    th 事業内容
                    td 経営支援／コンサルティング業
                  tr
                    th 所在地
                    td
                      |〒101-0054
                      br
                      |東京都千代田区神田錦町3-26一ツ橋SIビル2F
                  tr
                    th 公式サイト
                    td
                      a(href="http://www.hoken-station.co.jp/") http://www.hoken-station.co.jp/
                  tr
                    th コンセプト
                    td 生命保険・損害保険の最適化等経営支援コンサルティング・サービスを提供しています。30社を超える保険会社を取り扱う独立系の保険代理店として、どこの保険会社にも偏らずに最適なソリューションを提案しています。（2011年3月1日に「FISソリューションズ」から商号変更いたしました。）
              <!-- /.unit-in -->

          li.unit
            section
              h3#h3ttl04.h3ttl
                span
                  <img src="../assets/img/group/h3ttl04.gif" width="299" height="25" alt="株式会社トライ・エックス">
              .unit-in
                table
                  tr
                    th 事業内容
                    td ドキュメント・ソリューション･サービスの提供
                  tr
                    th 所在地
                    td
                      |本社：〒737-0045
                      br
                      |広島県呉市本通4丁目5-17
                  tr
                    th 公式サイト
                    td
                      a(href="http://www.forvaltel.co.jp/") http://www.forvaltel.co.jp/
                  tr
                    th コンセプト
                    td ブロードバンド回線を活用したオン・デマンド印刷他、印刷業務全般の業務を行っています。必要なときに必要なものだけ、小部数から高品質で、しかも安価に提供しています。
              <!-- /.unit-in -->

          li.unit
            section
              h3#h3ttl05.h3ttl
                span
                  <img src="../assets/img/group/h3ttl05.gif" width="475" height="25" alt="株式会社ホワイトビジネスイニシアティブ">
              .unit-in
                table
                  tr
                    th 事業内容
                    td 通信キャリアサービス
                  tr
                    th 所在地
                    td
                      |本社：〒101-0054
                      br
                      |東京都千代田区神田錦町3-5-1 興和一橋ビル別館4F
                  tr
                    th 公式サイト
                    td
                      a(href="http://wbi.co.jp/") http://wbi.co.jp/
                  tr
                    th コンセプト
                    td スマートフォンを利用したFMC（Fixed Mobile Convergence）サービス「ツーウェイスマート」の専用アプリケーションとハードウェアを開発・提供。FMCとモバイルソリューション、リテール型IPセントレックス商品の企画開発を通して、法人向けFMCの普及に貢献いたします。
              <!-- /.unit-in -->

          li.unit
            section
              h3#h3ttl06.h3ttl
                span
                  <img src="../assets/img/group/h3ttl06.gif" width="273" height="25" alt="タクトシステム株式会社">
              .unit-in
                table
                  tr
                    th 事業内容
                    td 各種広告宣伝物のプランニング、デザイン、DTP編集・制作、スキャニング、出力、印刷工程管理、各種ソフトウェア開発、データベース構築、Webデザイン、電子書籍、AR
                  tr
                    th 所在地
                    td
                      |本社：〒169-0051
                      br
                      |東京都新宿区西早稲田3-27-1
                  tr
                    th 公式サイト
                    td
                      a(href="http://www.tactsystem.co.jp/") http://www.tactsystem.co.jp/
                  tr
                    th コンセプト
                    td DTP制作・デザインをはじめ、電子書籍やWebデザイン・Webコーディング・印刷・専門スタッフによる校閲まで、幅広いご要望に対応しております。
              <!-- /.unit-in -->
      <!-- /.inner -->
    <!-- /#section -->
  <!-- /#!{page_dirname} -->
  !='\n'

  include ../templates/aside.jade

block mode_pc_link
  a(href="../../company#section04/?mode=pc") PC

block script
  // アコーディオン 
  script.
    $(function(){
      $(".accordion .unit h3").click(function(){
        $(this).next(".unit-in").slideToggle();
        $(this).children("span").toggleClass("open");
      });
    });