@charset "UTF-8";
/*====================================================================

01.format
02.contens
03.top
04.low common
05.icon
06.news
07.concept
08.group
09.message
10.company
11.recruit
12.product

=====================================================================*/
/* 01.format
-------------------------------------------------- */
body {
  font-family: 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', Meiryo, メイリオ, 'MS PGothic', arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 23px;
  color: #1b1b1b;
}

body a {
  color: #1b1b1b;
}

@media screen and (max-width: 360px) {
  body {
    font-size: 12px;
  }
}

img {
  width: 100%;
  height: auto;
}

/*  02.common
-------------------------------------------------- */
.inner {
  *zoom: 1;
  width: 94.44%;
  margin: 0 auto;
}

.inner:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

#header {
  *zoom: 1;
}

#header:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

#header h1 {
  float: left;
}

#header #menu_btn {
  float: right;
}

#header #menu {
  display: none;
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 100;
}

#header #menu li {
  background-color: #28066a;
  border-top: 1px solid #fff;
}

#header #menu li a {
  display: block;
  padding-left: 10px;
  color: #fff;
  text-decoration: none;
}

#sns-icon ul {
  *zoom: 1;
  margin-bottom: 6.94%;
}

#sns-icon ul:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

#sns-icon ul li {
  float: right;
  width: 6.17%;
  margin-left: 5.14%;
}

#footer .to_top {
  padding: 2.77% 0;
  margin-bottom: 5.55%;
  background-color: #ececec;
}

#footer .to_top a {
  display: block;
  width: 20.13%;
  margin: 0 auto;
}

#footer .to_top a img {
  vertical-align: middle;
}

#footer .switch {
  *zoom: 1;
  margin-bottom: 5.55%;
}

#footer .switch:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

#footer .switch li {
  width: 50%;
  float: left;
}

#footer .switch li a {
  display: block;
  line-height: 1;
  text-align: center;
  font-weight: bold;
}

#footer .switch li:first-child a {
  border-right: 2px solid #000;
}

#footer .copyright {
  padding: 21.75px 0;
  text-align: center;
  color: #fff;
  border-top: 1px solid #000;
  background-color: #28066a;
}

@media screen and (max-width: 360px) {
  #footer .copyright {
    padding: 22px 0;
  }
}

/*  03.top
-------------------------------------------------- */
#tmimg {
  margin-bottom: 35px;
}

#top .inner .tbnr {
  margin-bottom: 5.88%;
}

#top .inner .tbnr li {
  margin-bottom: 3.67%;
}

#top .inner .tbnr li:first-child {
  padding: 30.88% 0 4.41%;
  margin-bottom: 3.67%;
  background: url("../img/top/icon_bg.jpg") 0 0 no-repeat;
  background-size: 100% auto;
}

#top .inner .tbnr li:first-child .detail_btn {
  width: 63.08%;
  margin: 0 auto;
}

#top .inner .tbnr li:last-child {
  margin-bottom: 0;
}

#top .inner #tnews {
  margin-bottom: 7.35%;
}

#top .inner #tnews h2 {
  width: 13.23%;
  margin: 0 auto 4.41%;
}

#top .inner #tnews .article {
  padding: 3.19% 0;
  border-bottom: 1px solid #dcdcdc;
}

#top .inner #tnews .article:first-of-type {
  border-top: 1px solid #dcdcdc;
}

@media screen and (max-width: 360px) {
  #top .inner #tnews .article {
    padding: 3.23% 0;
  }
}

#top .inner #tnews .article .date {
  margin-bottom: 13.5px;
  font-weight: bold;
}

#top .inner #tnews .article h3 {
  font-weight: normal;
}

#top .inner #tnews .article h3 a:hover {
  text-decoration: underline;
}

/* 04.low common
--------------------------------------------------------------------------------- */
.low {
  *zoom: 1;
  padding-bottom: 6.94%;
  margin-bottom: 6.94%;
  border-bottom: 2px solid #bfbfbf;
}

.low:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

.low .section {
  *zoom: 1;
}

.low .section:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

.low .section .h2ttl {
  margin-bottom: 6.11%;
  border-bottom: 2px solid #bfbfbf;
}

.low .section .h2ttl span {
  display: block;
  margin: 0 auto;
}

/* 05.icon
--------------------------------------------------------------------------------- */
#icon #section01 .h2ttl span {
  width: 34.55%;
}

#icon #section01 .inner .img {
  width: 85.29%;
  margin: 0 auto 4.26%;
}

#icon #section01 .inner .txt-area {
  margin-bottom: 6.47%;
}

#icon #section01 .inner .txt-area p:first-of-type, #icon #section01 .inner .txt-area p:nth-of-type(3) {
  margin-bottom: 4.11%;
}

#icon #section01 .inner .accordion .unit {
  margin-bottom: 4.41%;
}

#icon #section01 .inner .accordion .unit:last-child {
  margin-bottom: 0;
}

#icon #section01 .inner .accordion .unit .h3ttl {
  padding: 8.08% 0 6.65% 16.17%;
}

#icon #section01 .inner .accordion .unit .h3ttl span {
  display: block;
  line-height: 1;
  background: url("../img/icon/mark_off.gif") 95% center no-repeat;
  background-size: 2.26% auto;
}

#icon #section01 .inner .accordion .unit .h3ttl .open {
  background: url("../img/icon/mark_on.gif") 95% center no-repeat;
  background-size: 4% auto;
}

#icon #section01 .inner .accordion .unit #h3ttl01 {
  background: url("../img/icon/h3ttl01_bg.jpg") 0 0 no-repeat;
  background-size: 100% auto;
}

#icon #section01 .inner .accordion .unit #h3ttl01 span img {
  width: 72.79%;
}

#icon #section01 .inner .accordion .unit #h3ttl02 {
  background: url("../img/icon/h3ttl02_bg.jpg") 0 0 no-repeat;
  background-size: 100% auto;
}

#icon #section01 .inner .accordion .unit #h3ttl02 span img {
  width: 77.35%;
}

#icon #section01 .inner .accordion .unit #h3ttl03 {
  background: url("../img/icon/h3ttl03_bg.jpg") 0 0 no-repeat;
  background-size: 100% auto;
}

#icon #section01 .inner .accordion .unit #h3ttl03 span img {
  width: 76.76%;
}

#icon #section01 .inner .accordion .unit #h3ttl04 {
  background: url("../img/icon/h3ttl04_bg.jpg") 0 0 no-repeat;
  background-size: 100% auto;
}

#icon #section01 .inner .accordion .unit #h3ttl04 span img {
  width: 31.32%;
}

#icon #section01 .inner .accordion .unit #h3ttl05 {
  background: url("../img/icon/h3ttl05_bg.jpg") 0 0 no-repeat;
  background-size: 100% auto;
}

#icon #section01 .inner .accordion .unit #h3ttl05 span img {
  width: 49.41%;
}

#icon #section01 .inner .accordion .unit #h3ttl06 {
  background: url("../img/icon/h3ttl06_bg.jpg") 0 0 no-repeat;
  background-size: 100% auto;
}

#icon #section01 .inner .accordion .unit #h3ttl06 span img {
  width: 54.55%;
}

#icon #section01 .inner .accordion .unit .unit-in {
  display: none;
  padding-top: 4.41%;
}

#icon #section01 .inner .accordion .unit .unit-in .img02 {
  margin-bottom: 3.52%;
}

/* 06.news
--------------------------------------------------------------------------------- */
#news #section01 .h2ttl span {
  width: 32.77%;
}

#news #section01 .inner .article {
  padding-bottom: 3.52%;
  margin-bottom: 3.52%;
  border-bottom: 1px solid #bfbfbf;
}

#news #section01 .inner .article:last-of-type {
  margin-bottom: 10.29%;
}

#news #section01 .inner .article .date {
  margin-bottom: 2.05%;
  font-weight: bold;
}

#news #section01 .inner .pager {
  *zoom: 1;
}

#news #section01 .inner .pager:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

#news #section01 .inner .pager li {
  float: left;
  width: 50%;
}

#news #section01 .inner .pager li a {
  display: block;
  width: 37.64%;
}

#news #section01 .inner .pager li .prev {
  float: left;
}

#news #section01 .inner .pager li .next {
  float: right;
}

/* 07.concept
--------------------------------------------------------------------------------- */
#concept #section .h2ttl span {
  width: 28.47%;
}

#concept #section .section-in {
  padding: 5.55% 0 4.72%;
}

#concept #section .section-in:first-of-type {
  padding-top: 0;
}

#concept #section .section-in .inner .h3ttl {
  margin: 0 auto 4.26%;
}

#concept #section .section-in .inner .img {
  margin: 0 auto 1%;
}

#concept #section #section-in01 .inner .h3ttl {
  width: 74.41%;
}

#concept #section #section-in02 {
  background-color: #ececec;
}

#concept #section #section-in02 .inner .img {
  width: 88.23%;
}

#concept #section #section-in02 .inner .h3ttl {
  width: 98.23%;
}

#concept #section #section-in03 .inner .img {
  width: 55.29%;
}

#concept #section #section-in03 .inner .h3ttl {
  width: 94.26%;
}

#concept #section #section-in04 {
  background-color: #ececec;
}

#concept #section #section-in04 .inner .img {
  width: 96.91%;
}

#concept #section #section-in04 .inner .h3ttl {
  width: 99.26%;
}

/* 08.group
--------------------------------------------------------------------------------- */
#group #section .h2ttl span {
  width: 24.58%;
}

#group #section .inner .accordion .unit {
  margin-bottom: 3.67%;
}

#group #section .inner .accordion .unit:last-child {
  margin-bottom: 0;
}

#group #section .inner .accordion .unit .h3ttl {
  height: auto;
  padding: 5.88% 0 5.88% 22.05%;
  border: 1px solid #bfbfbf;
}

#group #section .inner .accordion .unit .h3ttl span {
  display: block;
  background: url("../img/group/mark_off.gif") 95% 0 no-repeat;
  background-size: 2.46% auto;
  line-height: 1;
}

#group #section .inner .accordion .unit .h3ttl .open {
  background: url("../img/group/mark_on.gif") 95% 0 no-repeat;
  background-size: 4.35% auto;
}

#group #section .inner .accordion .unit #h3ttl01 {
  background: url("../img/group/img01.jpg") 1.47% center no-repeat;
  background-size: 17.79% auto;
}

#group #section .inner .accordion .unit #h3ttl01 span img {
  width: 33.08%;
}

#group #section .inner .accordion .unit #h3ttl02 {
  background: url("../img/group/img02.jpg") 1.47% center no-repeat;
  background-size: 17.79% auto;
}

#group #section .inner .accordion .unit #h3ttl02 span img {
  width: 47.64%;
}

#group #section .inner .accordion .unit #h3ttl03 {
  background: url("../img/group/img03.jpg") 1.47% center no-repeat;
  background-size: 17.79% auto;
}

#group #section .inner .accordion .unit #h3ttl03 span img {
  width: 43.97%;
}

#group #section .inner .accordion .unit #h3ttl04 {
  background: url("../img/group/img04.jpg") 1.47% center no-repeat;
  background-size: 17.79% auto;
}

#group #section .inner .accordion .unit #h3ttl04 span img {
  width: 43.97%;
}

#group #section .inner .accordion .unit #h3ttl05 {
  background: url("../img/group/img05.jpg") 1.47% center no-repeat;
  background-size: 17.79% auto;
}

#group #section .inner .accordion .unit #h3ttl05 span img {
  width: 69.85%;
}

#group #section .inner .accordion .unit #h3ttl06 {
  background: url("../img/group/img06.jpg") 1.47% center no-repeat;
  background-size: 17.79% auto;
}

#group #section .inner .accordion .unit #h3ttl06 span img {
  width: 40.14%;
}

#group #section .inner .accordion .unit .unit-in {
  display: none;
}

#group #section .inner .accordion .unit .unit-in table {
  width: 100%;
}

#group #section .inner .accordion .unit .unit-in table tr {
  border-bottom: 1px dotted #000;
}

#group #section .inner .accordion .unit .unit-in table tr th {
  width: 20%;
}

#group #section .inner .accordion .unit .unit-in table tr td {
  padding: 2.79%;
}

#group #section .inner .accordion .unit .unit-in table tr td a:hover {
  text-decoration: underline;
}

/* 09.message
--------------------------------------------------------------------------------- */
#message #section .h2ttl span {
  width: 21.61%;
}

#message #section .inner .img {
  margin-bottom: 6.25%;
}

#message #section .inner .section-in .h3ttl {
  width: 93.38%;
  margin: 0 auto 5.36%;
}

/* 10.company
--------------------------------------------------------------------------------- */
#company #section .h2ttl span {
  width: 16.66%;
}

#company #section .inner .section-in {
  margin-bottom: 8.82%;
}

#company #section .inner .section-in:last-of-type {
  margin-bottom: 0;
}

#company #section .inner .section-in .h3ttl {
  margin-bottom: 5.73%;
}

#company #section .inner .section-in table {
  width: 100%;
}

#company #section .inner .section-in table tr {
  border-bottom: 1px dotted #000;
}

#company #section .inner .section-in table tr th {
  width: 20%;
  text-align: left;
  font-weight: normal;
}

#company #section .inner .section-in table tr td {
  padding: 2.79% 0;
}

#company #section .inner .section-in table tr:first-of-type td {
  padding-top: 0;
}

#company #section .inner #section-in01 .h3ttl {
  width: 18.08%;
}

#company #section .inner #section-in02 .h3ttl {
  width: 17.94%;
}

#company #section .inner #section-in03 .h3ttl {
  width: 31.17%;
}

#company #section .inner #section-in03 .gmap {
  position: relative;
  padding-bottom: 65%;
  height: 0;
  overflow: hidden;
  margin-bottom: 3.52%;
}

#company #section .inner #section-in03 .gmap iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}

/* 11.recruit
--------------------------------------------------------------------------------- */
#recruit #section .h2ttl span {
  width: 19.44%;
}

#recruit #section .inner .section-in {
  margin-bottom: 8.82%;
}

#recruit #section .inner .section-in .h3ttl {
  margin-bottom: 5.73%;
}

#recruit #section .inner #section-in01 .h3ttl {
  width: 22.94%;
}

#recruit #section .inner #section-in01 .txt-area {
  margin-bottom: 2.79%;
}

#recruit #section .inner #section-in02 .h3ttl {
  width: 19.7%;
}

#recruit #section .inner #section-in02 table {
  width: 100%;
}

#recruit #section .inner #section-in02 table tr {
  border-bottom: 1px dotted #000;
}

#recruit #section .inner #section-in02 table tr th {
  width: 20%;
  text-align: left;
  font-weight: normal;
}

#recruit #section .inner #section-in02 table tr td {
  padding: 2.79% 0;
}

#recruit #section .inner #section-in02 table tr:first-of-type td {
  padding-top: 0;
}

#recruit #section .inner .bnr-area p:first-of-type {
  margin-bottom: 3.67%;
}

/* 12.product
--------------------------------------------------------------------------------- */
#product #section .h2ttl span {
  width: 37.36%;
}

#product #section .inner .accordion .unit {
  margin-bottom: 3.67%;
}

#product #section .inner .accordion .unit:last-child {
  margin-bottom: 0;
}

#product #section .inner .accordion .unit .h3ttl {
  height: auto;
  padding: 5.88% 0 5.88% 4.41%;
  border: 1px solid #bfbfbf;
  background-color: #ececec;
}

#product #section .inner .accordion .unit .h3ttl span {
  display: block;
  background: url("../img/product/mark_off.gif") 95% center no-repeat;
  background-size: 2% auto;
  line-height: 1;
}

#product #section .inner .accordion .unit .h3ttl .open {
  background: url("../img/product/mark_on.gif") 95% center no-repeat;
  background-size: 3.54% auto;
}

#product #section .inner .accordion .unit #h3ttl01 span img {
  width: 24.7%;
}

#product #section .inner .accordion .unit #h3ttl02 span img {
  width: 36.91%;
}

#product #section .inner .accordion .unit #h3ttl03 span img {
  width: 36.23%;
}

#product #section .inner .accordion .unit #h3ttl04 span img {
  width: 67.35%;
}

#product #section .inner .accordion .unit #h3ttl05 span img {
  width: 64.26%;
}

#product #section .inner .accordion .unit .unit-in {
  display: none;
  padding-top: 4.26%;
}

#product #section .inner .accordion .unit .unit-in .box {
  *zoom: 1;
  margin-bottom: 4.11%;
}

#product #section .inner .accordion .unit .unit-in .box:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

#product #section .inner .accordion .unit .unit-in .box .img01 {
  float: left;
  width: 60.44%;
  margin-right: 2.94%;
}

#product #section .inner .accordion .unit .unit-in .box .img02 {
  float: left;
  width: 58.82%;
  margin-right: 2.94%;
}

#product #section .inner .accordion .unit .unit-in .list {
  margin-bottom: 4.11%;
}

#product #section .inner .accordion .unit .unit-in .url a:hover {
  text-decoration: underline;
}
