extends ../templates/layout.jade
block title
  - var page_title = 'ニュースリリース'
  - var page_dirname = 'news'
  title #{page_title} | #{meta.info.title}
block meta01
  meta(name="description", content="#{page_title} - #{meta.info.description}")
  meta(name="keywords", content="#{page_title},#{meta.info.keywords}")
block meta02
  meta(property="og:title", content="#{page_title} | #{meta.info.title}")
  meta(property="og:description", content="#{page_title} - #{meta.info.description}")
  meta(property="og:type", content="website")
  meta(property="og:url", content="#{meta.info.url}#{page_dirname}")
  meta(property="og:image", content=meta.info.image)
  meta(property="og:site_name", content=meta.info.site_name)

block body
  main#news.low
    section#section01.section
      h2.h2ttl
        span
          <img src="../assets/img/news/h2ttl.gif" width="236" height="83" alt="#{page_title}">
      .inner
        #article02.article
          p.date 2016/9/14
          .article-in
            p ホームページをリニューアルしました。
          <!-- /.article-in -->
        <!-- /.article -->
        #article01.article
          p.date 2016/9/1
          .article-in
            p あなたも”2時間”で英語が話せるようになる
            p 「世界一聞きたい英会話の授業」を開催いたします。
            p FISアイコンサービスご契約企業様に限り、無料ご招待！奮ってご参加ください！
            p 0120-955-211 担当：大野 講師：西澤ロイ
            p 日時：2016年11月15日　14:30開場 15:30開始　17:30終了
            p 場所：神田神保町(ご参加人数によって変更になりますので、後日 お知らせいたします
          <!-- /.article-in -->
        <!-- /.article -->

        //ul.pager
          li
            a.prev.ophv(href="")
              <img src="../assets/img/news/prev_btn.gif" width="128" height="44" alt="prev">
          li
            a.next.ophv(href="")
              <img src="../assets/img/news/next_btn.gif" width="128" height="44" alt="next">
      <!-- /.inner -->
    <!-- /#section01 -->
  <!-- /#!{page_title} -->
  !='\n'

  include ../templates/aside.jade

block mode_pc_link
  a(href="../../#{page_dirname}/?mode=pc") PC

block script
  // アコーディオン 
  script.
    $(function(){
      $(".accordion .unit h3").click(function(){
        $(this).next(".unit-in").slideToggle();
        $(this).children("span").toggleClass("open");
      });
    });