extends ./templates/layout.jade
block title
  title #{meta.info.title}
block meta01
  meta(name="description", content=meta.info.description)
  meta(name="keywords", content=meta.info.keywords)
block meta02
  meta(property="og:title", content=meta.info.title)
  meta(property="og:description", content=meta.info.description)
  meta(property="og:type", content="website")
  meta(property="og:url", content=meta.info.url)
  meta(property="og:image", content=meta.info.image)
  meta(property="og:site_name", content=meta.info.site_name)
block css
block body
  #tmimg
    ul.slider
      li
        <img src="#{meta.info.url}assets/img/top/mimg01.jpg" width="721" height="346" alt="オフィスのことならFISソリューションズにお任せ">
      li
        <img src="#{meta.info.url}assets/img/top/mimg02.jpg" width="720" height="346" alt="「新しいあたりまえ」を創造し続けるFISソリューションズ">
      li
        <img src="#{meta.info.url}assets/img/top/mimg03.jpg" width="720" height="346" alt="icon">
  <!-- /#tmimg -->
  !='\n'

  main#top
    .inner
      ul.tbnr
        li
          p.detail_btn
            a.ophv(href="")
              <img src="#{meta.info.url}assets/img/top/icon_detail_btn.gif" width="429" height="54" alt="詳細はこちら">
        li
          a.ophv(href="")
            <img src="#{meta.info.url}assets/img/top/bnr01.jpg" width="680" height="144" alt="e-bill eco 請求情報閲覧サービス">
        li
          a.ophv(href="")
            <img src="#{meta.info.url}assets/img/top/bnr02.jpg" width="680" height="143" alt="オフィス電話本舗">
        li
          a.ophv(href="")
            <img src="#{meta.info.url}assets/img/top/bnr03.jpg" width="680" height="143" alt="起業相談ドットコム">
        li
          a.ophv(href="")
            <img src="#{meta.info.url}assets/img/top/bnr04.jpg" width="680" height="143" alt="OFFITY/オフィティ">

      section#tnews
        h2
          <img src="#{meta.info.url}assets/img/top/h2ttl01.gif" width="90" height="51" alt="NEWS">
        article.article
          p.date 2016/9/14
          h3
            a(href="#{meta.info.url}news/#article02") FISソリューション公式ホームページリニューアルのお知らせ。
        <!-- /.article -->
        article.article
          p.date 2016/9/1
          h3
            a(href="#{meta.info.url}news/#article01") 「世界一聞きたい英会話の授業」開催のお知らせ。
        <!-- /.article -->
      <!-- /#tnews -->
    <!-- /.inner -->
  <!-- /#top -->
  !='\n'

  include ./templates/aside.jade

block mode_pc_link
  a(href="../../?mode=pc") PC

block script_src
  script(src="#{meta.info.url}assets/js/jquery.bxslider.min.js")

block script
  // スライダー 
  script.
    $(document).ready(function(){
      $('.slider').bxSlider({
        mode: 'fade',
        auto: true,
        controls: false,
        pager: false,
        speed: 4000,
        pause: 4000,
      });
    });