extends ../templates/layout.jade
block title
  - var page_title = '商品・サービス一覧'
  - var page_dirname = 'product'
  title #{page_title} | #{meta.info.title}
block meta01
  meta(name="description", content="#{page_title} - #{meta.info.description}")
  meta(name="keywords", content="#{page_title},#{meta.info.keywords}")
block meta02
  meta(property="og:title", content="#{page_title} | #{meta.info.title}")
  meta(property="og:description", content="#{page_title} - #{meta.info.description}")
  meta(property="og:type", content="website")
  meta(property="og:url", content="#{meta.info.url}#{page_dirname}")
  meta(property="og:image", content=meta.info.image)
  meta(property="og:site_name", content=meta.info.site_name)

block body
  main#product.low
    section#section.section
      h2.h2ttl
        span
          <img src="../assets/img/product/h2ttl.gif" width="269" height="85" alt="#{page_title}">
      .inner
        ul.accordion
          li.unit
            section
              h3#h3ttl01.h3ttl
                span
                  <img src="../assets/img/product/h3ttl01.gif" width="168" height="27" alt="情報通信分野">
              .unit-in
                .box
                  figure.img01
                    <img src="../assets/img/product/img01.jpg" width="411" height="287" alt="「情報通信コンサルタント」アイコンのFISソリューションズ">
                  .txt-area
                    p ＦＩＳソリューションズでは、特定のメーカーに縛られず、お客様に一番フィットする商品を提供しています。電話機、複合機、パソコン、サーバーなどＯＡ機器をはじめとして、携帯電話など各種通信サービス、企業の顔であるＷＥＢサイトなど、企業が必要とするIT環境はすべてお任せください。
                    p ただし、どんな機械も退治なのは導入した後の利活用です。ＦＩＳソリューションズではアイコンサービスを核として、導入後の利活用に重点を置いた活動をさせていただいております。お客様の抱える様々な問題に対して、的確なサービスをご提供いたします。
                  <!-- /.txt-area -->
                <!-- /.box -->
                ul
                  li ●ビジネスフォン
                  li ●複合機
                  li ●サーバー
                  li ●UTM
                  li ●防犯機器
                  li ●WEBページ
                  li ●ネットワーク機器
                  li ●オフィス設備
              <!-- /.unit-in -->

          li.unit
            section
              h3#h3ttl02.h3ttl
                span
                  <img src="../assets/img/product/h3ttl02.gif" width="251" height="27" alt="起業相談ドットコム">
              .unit-in
                .box
                  figure.img02
                    <img src="../assets/img/product/img02.jpg" width="400" height="280" alt="起業相談ドットコムホームページ画像">
                  .txt-area
                    p 会社を経営していく上で起こる、多様な問題に対して経営者の方々の視点に立ち、法務・財務・労務・公的機関の活用方法など様々な分野の専門家と共に解決しサポートしていくサービスを行っています。
                  <!-- /.txt-area -->
                <!-- /.box -->
                ul.list
                  li ●オフィス物件紹介
                  li ●ホスティング
                  li ●名刺・パンフレト
                  li ●電話回線
                  li ●モバイル
                  li ●インターネット回線
                p.url 公式サイト：
                  a(href="http://www.kigyosodan.com/", target="_blank") http://www.kigyosodan.com/
              <!-- /.unit-in -->

          li.unit
            section
              h3#h3ttl03.h3ttl
                span
                  <img src="../assets/img/product/h3ttl03.gif" width="247" height="26" alt="OFFITY　オフティ">
              .unit-in
                .box
                  figure.img02
                    <img src="../assets/img/product/img03.jpg" width="400" height="280" alt="OFFITYホームページ画像">
                  .txt-area
                    p 法人向けＩＰ電話サービス。電話代・電話料金・コスト削減・経費削減の切り札として、電話番号はそのままで、会社の経費を削減します。電話代、通信コストの経費削減をしたい方、起業、事務所移転をお考えの方をサポートいたします。
                  <!-- /.txt-area -->
                <!-- /.box -->
                ul.list
                  li ●スマートひかり
                  li ●2waySmart
                  li ●イーモバイル
                  li ●ソフトバンクモバイル
                  li ●おとくライン
                p.url 公式サイト：
                  a(href="http://www.offity.jp/", target="_blank") http://www.offity.jp/
              <!-- /.unit-in -->

          li.unit
            section
              h3#h3ttl04.h3ttl
                span
                  <img src="../assets/img/product/h3ttl04.gif" width="458" height="28" alt="e-bill eco（請求情報閲覧サービス）">
              .unit-in
                .box
                  figure.img02
                    <img src="../assets/img/product/img04.jpg" width="400" height="280" alt="e-bill eco（請求情報閲覧サービス） ホームページ画像">
                  .txt-area
                    p e-billは、お客様への請求情報をインターネット上でご確認いただけるサービスです。登録すると、いつでもどこでもインターネット上で請求情報（サービス利用状況）を確認可能。本サービスは、当社サービスをご利用のお客様を対象に提供しています。
                  <!-- /.txt-area -->
                <!-- /.box -->
                p.url 公式サイト：
                  a(href="https://www.ebill.jp/", target="_blank") https://www.ebill.jp/
              <!-- /.unit-in -->

          li.unit
            section
              h3#h3ttl05.h3ttl
                span
                  <img src="../assets/img/product/h3ttl05.gif" width="437" height="28" alt="fitコール（ワンビリングサービス）">
              .unit-in
                .box
                  figure.img02
                    <img src="../assets/img/product/img05.jpg" width="400" height="280" alt="fitコール（ワンビリングサービス） ホームページ画像">
                  .txt-area
                    p fitコールワンビリングとは、複数サービス（電話回線やインターネット、保守サービスなど）の請求書をひとつにまとめてご請求するサービスです。
                    p 国内電話、国際電話、携帯電話、インターネットを問わず、「fitコール」は自動的に安いサービスを統合して利用が可能です。
                    p 複数のサービスでも一括でご請求。「fitコール」は、情報通信のワンビリングサービス・ワンストップショッピングを実現しました。
                  <!-- /.txt-area -->
                <!-- /.box -->
                p.url 公式サイト：
                  a(href="https://www.ebill.jp/", target="_blank") https://www.ebill.jp/
              <!-- /.unit-in -->
      <!-- /.inner -->
    <!-- /#section -->
  <!-- /#!{page_dirname} -->
  !='\n'

  include ../templates/aside.jade

block mode_pc_link
  a(href="../../#{page_dirname}/?mode=pc") PC

block script
  // アコーディオン 
  script.
    $(function(){
      $(".accordion .unit h3").click(function(){
        $(this).next(".unit-in").slideToggle();
        $(this).children("span").toggleClass("open");
      });
    });