extends ../templates/layout.jade
block title
  - var page_title = 'リクルート'
  - var page_dirname = 'recruit'
  title #{page_title} | #{meta.info.title}
block meta01
  meta(name="description", content="#{page_title} - #{meta.info.description}")
  meta(name="keywords", content="#{page_title},#{meta.info.keywords}")
block meta02
  meta(property="og:title", content="#{page_title} | #{meta.info.title}")
  meta(property="og:description", content="#{page_title} - #{meta.info.description}")
  meta(property="og:type", content="website")
  meta(property="og:url", content="#{meta.info.url}#{page_dirname}")
  meta(property="og:image", content=meta.info.image)
  meta(property="og:site_name", content=meta.info.site_name)

block body
  main#recruit.low
    section#section.section
      h2.h2ttl
        span
          <img src="../assets/img/recruit/h2ttl.gif" width="140" height="84" alt="#{page_title}">
      .inner
        section#section-in01.section-in
          h3.h3ttl
            <img src="../assets/img/recruit/h3ttl01.gif" width="156" height="28" alt="求める人材">
          .txt-area
            p 新しいあたりまえを創出し続ける社会価値創出企業。
            p 私たち、ＦＩＳソリューションズは「次世代経営コンサルタント」としてお客様と共に未来を切り開くエンジンとなり、成長を加速させます。
            p 人の話を聞き、人から学び、人に対して責任と情熱をもって仕事をするプロフェッショナルです。
            p 限りない未来へ向けて、さらなる成長が期待される会社でキャリアをスタートしてみませんか。
          <!-- /.txt-area -->
          figure.img
            <img src="../assets/img/recruit/img01.jpg" width="680" height="514" alt="求める人材">
        <!-- /#section-in01 -->
        !='\n'

        section#section-in02.section-in
          h3#h3ttl02.h3ttl
            <img src="../assets/img/recruit/h3ttl02.gif" width="134" height="28" alt="採用情報">
          table
            tr
              th 募集職務
              td 通信コンサルティング営業
            tr
              th 職務内容
              td オフィスの通信回線・機器の導入や、企業サイトの構築など、お客様の経営効率化の提案
            tr
              th 採用形態
              td 正社員（研修１ヶ月）
            tr
              th 給与
              td 月給22万円以上（一律営業手当含む＋インセンティブ）
            tr
              th 手当
              td 交通費全額支給、賞与年2回、昇給年4回、決算賞与（個人の業績により支給）
            tr
              th 社会保険
              td 社会保険完備
            tr
              th 休日休暇
              td 完全週休2日制（土・日）、祝祭日、年末年始、育児休暇、慶弔、有給（年間休日120日）
            tr
              th 応募書類
              td 通信コンサルティング事業部（TEL：03-5283-0080）に電話後、履歴書（写真付）と職務経歴書を持参
        <!-- /#section-in02 -->
        !='\n'

        .bnr-area
          p
            a.ophv(href="http://www.saiyo.fis-s.co.jp/", target="_blank")
              <img src="../assets/img/recruit/bnr01.jpg" width="680" height="98" alt="キャリア採用・新卒採用">
          p
            a.ophv(href="https://job.mynavi.jp/17/pc/search/corp112442/outline.html", target="_blank")
              <img src="../assets/img/recruit/bnr02.jpg" width="680" height="98" alt="マイナビ2017">
        <!-- /.bnr-area -->
      <!-- /.inner -->
    <!-- /#section -->
  <!-- /#!{page_dirname} -->
  !='\n'

  include ../templates/aside.jade

block mode_pc_link
  a(href="../../#{page_dirname}/?mode=pc") PC

block script